{% load static %}
<html lang="en">
  <head>
  	<title>viewfeedback</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'tablecss/style.css' %}">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Feedbacks</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table">
						  <thead class="thead-dark">
						    <tr>
						      <th>Name</th>
						      <th>Email</th>
						      <th>Type</th>
							  <th>Date</th>
							  <th>Details</th>
						    </tr>
						  </thead>
						  <tbody>
						  {% for row in data %}
						    <tr class="alert" role="alert">
						      <td>{{ row.2 }}</td>
						      <td>{{ row.1 }}</td>
						      <td>{{ row.3 }}</td>
							  <td>{{ row.5 }}</td>
							  <td>{{ row.4 }}</td>
						    </tr>
						  {% endfor %}
						  </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="{% static 'tablejs/jquery.min.js' %}"></script>
  <script src="{% static 'tablejs/popper.js' %}"></script>
  <script src="{% static 'tablejs/bootstrap.min.js' %}"></script>
  <script src="{% static 'tablejs/main.js' %}"></script>

	</body>
</html>

